# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.RodyAdventures-GTI.iml
# Datasource local storage ignored files
/../../../../../../../../:\ProyectosGTI\Segundo\SegundoCuatri\RodyAdventures-GTI\.idea\.idea.RodyAdventures-GTI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
